* {
    margin: 0;
    padding: 0;
}

svg {
    width: 32px;
    height: auto;
}

img {
    width: 400px;
    height: auto;
}

body {
    min-height: 100vh;

    --primary-color: #38bdf8;
    --light-primary-color: #fff;
    --dark-primary-color: #262626;
    --light-shadow: #00000030;
}

header {
    position: relative;
}

.background-deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: var(--primary-color);
    transform: skewY(-25deg) translateY(-50%);
    box-shadow: 0 10px 10px var(--light-shadow);

    z-index: -1;
}

.about-me {
    /* padding: 2rem 1rem; */
    max-width: calc(100vw - 4rem);
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: relative;
    background-color: var(--light-primary-color);
}

.about-me .portrait {
    position: relative;
    box-shadow: 0 0 15px var(--light-shadow);
}

.about-me .portrait h1 {
    position: absolute;
    bottom: .8rem;

    font-size: 1.6rem;
    width: 100%;
    text-align: center;
}

.about-me .portrait img {
    width: 100%;
    height: auto;
    display: block;
}

.about-me h2 {
    text-align: center;
}

.about-me .links {
    display: flex;
    justify-content: center;
}

.projects {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    --project-width: calc(100vw - 4rem);
}


.project {
    width: var(--project-width);
    box-shadow: 0 0 15px var(--light-shadow);

}

.project .thumbnail {
    width: 100%;
    height: var(--project-width);
    background-color: salmon;
}

.project>.content {
    border: 1px solid black;
    padding: .8rem;
}

.project .header {
    display: flex;
    justify-content: space-between;
}

.project .header>.links {
    display: flex;
    gap: .4rem;
}

footer>.thumbnail img {
    width: 100%;
    height: auto;
    display: block;

}

footer>.contact-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info>div {
    display: flex;
    gap: .8rem;
    align-items: center;
}

.contact-info .links {
    justify-content: center;
    gap: .8rem;
}

@media (min-width: 600px) {
    .projects {
        padding: 2rem;
    }

    .projects > h2 {
        align-self: start;
    }

    .projects-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        --project-width: clamp(250px, 50vw - 3rem, 400px);
    }

    .about-me {
        display: block;
        /* width: clamp(400px, 380px + 25vw, 600px); */
        max-width: 600px;
        width: max(400px, 380px + 25vw);
        /* width: calc(100vw - 8rem); */
        margin-top: 6rem;
        padding: 1rem;
        box-shadow: 3px 5px 15px var(--light-shadow)
    }

    .about-me > * + * {
        margin-top: 1rem;
    }

    .about-me .portrait {
        position: static;
        width: clamp(200px, 50% - 2rem, 240px);
        float: left;
        box-shadow: none;
    }
    
    .about-me .portrait h1 {
        top: 0;
        right: 1rem;
        width: max-content;
        height: min-content;
        transform: translateY(calc(-100% - 1rem));
    }

    .about-me .portrait img {
        transform-origin: bottom right;
        transform: scale(1.2) translateX(-.6rem);
        box-shadow: 0 0 10px var(--light-shadow);
    }

    .about-me .links {
        display: none;
    }

    footer {
        display: flex;
        align-items: center;

        background-color: var(--primary-color);
    }

    footer .thumbnail {
        flex: 1;
        padding: 1rem;
    }

    footer .contact-info {
        flex: 1;
    }

    .contact-info .links {
        justify-content: start;
    }
}

@media (min-width: 1000px) {
    .about-me {
        max-width: 850px;
        height: 250px;

    }

    .about-me .portrait img {
        transform-origin: left;
        transform: scale(1) translateX(0);
        height: 100%;
    }

    .about-me .portrait {
        isolation: isolate;

        height: 100%;
        width: auto;
        margin-right: 7rem;
        position: relative;

        transform-origin: left;
        transform: translateX(-1rem) scale(1.5);
    }

    .about-me .portrait h1 {
        transform: translateY(0);
        top: unset;
        right: unset;
        bottom: 0;
        /* left: 0; */
        z-index: 3;
    } 
    

}
